<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="fixed-top">
        <h1> ZoMoMo </h1>
        <h2> Get out & Get lost </h2>
    </div>

    <div id="nav-west">
        <ul>
            <li>
                <b>Home</b>
                <ul>
                    <li><a href="/Site">Popular</a></li>
                    <li><a href="/Site.master.cs">In The Area</a></li>
                    <li><a href="/Site.master.cs">Date</a></li>
                </ul>
        </ul>
        <ul>
            <li>
                <b>Profile</b>
                <ul>
                    <li><a href="#">Create Event</a></li>
                    <li><a href="#">My Events</a></li>
                    <li><a href="#">My Check Ins</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li>
            <li>
                <b>Search</b>
                <ul>
                    <li><a href="#">Search Events</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tags <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="overflow:scroll">
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Party</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">...</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

  
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
