@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()



        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" onClick="dropdownMenu()" style="margin-top:8px">
                    @MvcHtmlString.Create("Hello " + User.Identity.GetUserName() + "!")
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="menuContents">
                    <li class="itemMenu">@Html.ActionLink("My Profile", "Profile","Account", new { idUser = User.Identity.GetUserId()}, null)</li>
                    @*<li class="itemMenu">@Html.ActionLink("My checkins", "CheckIns", "Account", null, null)</li>*@
                    @*<li class="itemMenu">@Html.ActionLink("My events", "YourEvents", "Account", null, null)</li>*@
                    <li class="itemMenu">@Html.ActionLink("Create Event", "CreateEvent", "Event", null, null)</li>
                    <li class="itemMenu">@Html.ActionLink("Settings", "Settings", "Account", null, null)</li>
                </ul>
            </li>
            <li><a style="padding-right:30px;" href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}



<script type="text/javascript">

    function dropdownMenu() {

       var contents = document.getElementById("menuContents");
       contents.classList.toggle("show");
    }

    window.onclick = function (event) {
        if (!event.target.matches('.dropdown-toggle')) {

            var dropdowns = document.getElementById("menuContents");
            if (dropdowns.classList.contains('show')) {
                dropdowns.classList.remove('show');
            }

            /*var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }*/
        }
    }

</script>