@using WebApplication1.Models
@model WebApplication1.Models.account

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
</head>
<body style="margin-top:50px">


    <div class="container-fluid" style="margin-top:50px">
        <ul class="nav nav-tabs">
            <li><a href="#" class="profileBut">Profile</a></li>
            <li><a href="#" class="madeBut">Events Made</a></li>
            <li><a href="#" class="checksBut">Events Checked In</a></li>
        </ul>


        <div class="profileContents collapse in">
            <dl class="dl-horizontal">
                <dt></dt>
                <dd>
                    <img src="~/images/blankProfile.jpg" width="267" height="238" />
                </dd>
                <dt>Firstname:</dt>
                <dd>@Model.firstname</dd>
                <dt>Lastname:</dt>
                <dd>@Model.lastname</dd>
                <dt>Email:</dt>
                <dd>@Model.Email</dd>
                <dt>Brithday:</dt>
                <dd>@Model.birthday</dd>
                <dt>Description:</dt>
                <dd>@Model.description</dd>
            </dl>
        </div>
        <div class="eventsMade collapse">
            <div class="container-fluid">
                <h2>Log Book - Events Made:</h2>
                <p>You find here underneath all your history of Events organised by you. Click on the Event name to display the event page.</p>
                @if (ViewBag.EventsMade == null)
                    {
                    <p> No events history to display. Sorry, you have no life.</p>
                    }
                    else
                    {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Eventname</th>
                                <th>Date</th>
                                <th>Participants</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Event e in ViewBag.EventsMade)
                                {
                                <tr class="warning">
                                    <td>@Html.ActionLink(e.EventName, "ViewEvent", "Event", new { id = e.EventId}, null) </td>
                                    <td>@e.EventEndDate </td>
                                    <td>@e.EventParticipants </td>
                                    <td>@e.EventLocation</td>
                                </tr>
                                }
                        </tbody>
                    </table>}
            </div>
        </div>
        <div class="eventsChecks collapse">
            <div class="container-fluid">
                <h2>Log Book - Your Check Ins:</h2>
                <p>You find here underneath all your history of Events you participated to. Click on the Event name to display the event page.</p>
                @if (ViewBag.EventsParticipated == null)
                    {
                    <p> No events history to display. Sorry, you have no life.</p>
                    }
                    else
                    {

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Eventname</th>
                                <th>Date</th>
                                <th>Participants</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Event e in ViewBag.EventsParticipated)
                                {
                                <tr class="warning">
                                    <td>@Html.ActionLink(e.EventName,"ViewEvent", "Event", new { id = e.EventId }, null) </td>
                                    <td>@e.EventEndDate </td>
                                    <td>@e.EventParticipants </td>
                                    <td>@e.EventLocation</td>
                                </tr>}
                        </tbody>
                    </table>}
            </div>
        </div>

    </div>


    <script type="text/javascript">


        $(document).ready(function () {
            $(".profileBut").click(function () {
                $(".eventsMade").collapse('hide');
                $(".eventsChecks").collapse('hide');
                $(".profileContents").collapse('show');
            });
            $(".madeBut").click(function () {
                $(".eventsChecks").collapse('hide');
                $(".profileContents").collapse('hide');
                $(".eventsMade").collapse('show');
            });
            $(".checksBut").click(function () {
                $(".eventsMade").collapse('hide');
                $(".profileContents").collapse('hide');
                $(".eventsChecks").collapse('show');
            });
        });
    </script>
</body>
</html>
