@using WebApplication1.Models
@model WebApplication1.Models.ProfileViewModel
@using CloudinaryDotNet;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    </style>
</head>
<body class="profileBody">

    <!-- First Container -->
    <div class="container-fluid  text-center BG-1 myContainer">

        <div style="margin-top:50px">
            @Model.cloudinary.Api.UrlImgUp.Transform(
                        new Transformation()
                        .Width(250)
                        .Height(250)
                        .Radius("max")
                        .Background("#1abc9c")
                        .Crop("fill")).BuildImageTag(Model.account.profilePic)
        </div>
        <h3>@Model.account.lastname</h3>
        <h3>@Model.account.firstname</h3>
        <h4>@Model.account.birthday</h4>
        <p class="myP">
            @Model.account.description
        </p>


    </div>
    <div class="btn-group btn-group-justified">

        <a id="participated" class="btn btn-primary">Participated</a>
        <a id="organised" class="btn btn-primary">Organised</a>
        <a id="interested" class="btn btn-primary">Interested</a>
    </div>
    <!-- Participated -->
    <div id="goingContent" class="hidden">
        <div class="container-fluid  text-center BG-2 myContainer">
            <h3 class="profileMargin">experienced and future events</h3>
            @if (Model.Owner)
            {
                @Html.ActionLink("New Event", "CreateEvent", "Event", null, new { @class = "btn btn-lg btn-danger" });
            }
            @if (ViewBag.EventsParticipated == null)
            {
                <p class="myP"> No events history to display </p>
            }
            else
            {
                <div style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Eventname</th>
                                <th>Date</th>
                                <th>Participants</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Event e in ViewBag.EventsParticipated)
                            {
                                <tr class="warning">
                                    <td>@Html.ActionLink(e.EventName, "EventDetails", "Event", new { id = e.EventId }, null) </td>
                                    <td style="color: #555555;">@e.EventEndDate </td>
                                    <td style="color: #555555;">@e.EventParticipants </td>
                                    <td style="color: #555555;">@e.EventLocation</td>
                                </tr>}
                        </tbody>
                    </table>
                </div>}
        </div>
    </div>

    <!--Organised-->
    <div id="partContent" class="visible">
        <div class="container-fluid  text-center BG-2 myContainer">
            <h3 class="profileMargin">organised events</h3>
            @if (Model.Owner)
            {
                @Html.ActionLink("New Event", "CreateEvent", "Event", null, new { @class = "btn btn-lg btn-danger" });
            }
            @if (ViewBag.EventsMade == null)
            {
                <p class="myP"> No events history to display</p>
            }
            else
            {
                <div style="overflow-x:auto;">
                    <table class="table" style="overflow-x:auto;">
                        <thead>
                            <tr>
                                <th>Eventname</th>
                                <th>Date</th>
                                <th>Participants</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Event e in ViewBag.EventsMade)
                            {
                                <tr class="warning">
                                    <td>@Html.ActionLink(e.EventName, "EventDetails", "Event", new { id = e.EventId }, null) </td>
                                    <td style="color: #555555;">@e.EventEndDate </td>
                                    <td style="color: #555555;">@e.EventParticipants </td>
                                    <td style="color: #555555;">@e.EventLocation</td>
                                    <td style="color: #555555;">
                                        @if (Model.Owner)
                                        {
                                            @:
                                        <td style="color: #555555;">
                                            @Html.ActionLink("Edit", "EditEvent", "Event", new { id = e.EventId }, null)
                                        </td>
                                        }
                                    </tr>
                            }
                        </tbody>
                    </table>
                </div>}
        </div>
    </div>

    <!--interested-->
    <div id="interContent" class="hidden">
        <div class="container-fluid  text-center BG-2 myContainer">
            <h3 class="profileMargin">Interested</h3>
            @if (Model.Owner)
            {
                @Html.ActionLink("New Event", "CreateEvent", "Event", null, new { @class = "btn btn-lg btn-danger" });
            }
            @if (ViewBag.EventsMade == null)
            {
                <p class="myP"> No events history to display. Sorry, you have no life.</p>
            }
            else
            {   <div style="overflow-x:auto;">
                <table class="table" style="overflow-x:auto;">
                    <thead>
                        <tr>
                            <th>Eventname</th>
                            <th>Date</th>
                            <th>Participants</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event e in ViewBag.eventsinterested)
                        {
                            <tr class="warning">
                                <td>@Html.ActionLink(e.EventName, "EventDetails", "Event", new { id = e.EventId }, null) </td>
                                <td style="color: #555555;">@e.EventEndDate </td>
                                <td style="color: #555555;">@e.EventParticipants </td>
                                <td style="color: #555555;">@e.EventLocation</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>}
        </div>
    </div>
    <!-- Footer bg-4-->

    <script>
        $('#participated').click(function () {
            if ($('#goingContent').hasClass("hidden")) {
                $('#partContent').removeClass("visible").addClass("hidden");
                $('#goingContent').removeClass("hidden").addClass("visible");
                $('#interContent').removeClass("visible").addClass("hidden");
            }
        });

        $('#organised').click(function () {
            if ($('#partContent').hasClass("hidden")) {
                $('#partContent').removeClass("hidden").addClass("visible");
                $('#goingContent').removeClass("visible").addClass("hidden");
                $('#interContent').removeClass("visible").addClass("hidden");
            }
        });

        $('#interested').click(function () {
            if ($('#interContent').hasClass("hidden")) {
                $('#interContent').removeClass("hidden").addClass("visible");
                $('#goingContent').removeClass("visible").addClass("hidden");
                $('#partContent').removeClass("visible").addClass("hidden");
            }
        });

    </script>

</body>
</html>