@using WebApplication1.Models;

@model WebApplication1.Models.account


@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div class="container-fluid" id="mySettings" style="margin: 100px">
        
            <ul class="nav nav-tabs">
                <li><a href="#" data-toggle="collapse" data-target="#settings" data-parent="#mySettings">Settings</a></li>
                <li><a href="#" data-toggle="collapse" data-target="#EventsMade" data-parent="#mySettings">Events Made</a></li>
                <li><a href="#" data-toggle="collapse" data-target="#EventsChecks" data-parent="#mySettings">Events Checked In</a></li>
            </ul>
       

        <div class="Collapsable-Info">
            <div id="settings" class="collapse in">
                <dl class="dl-horizontal">
                    <!--<dt></dt>
                <dd><img src="~/images/barack.jpg" class="img-rounded"/> </dd>-->
                    <dt>First name:</dt>
                    <dd>@Model.firstname</dd>
                    <dt>Last name:</dt>
                    <dd>@Model.lastname</dd>
                    <dt>Username:</dt>
                    <dd>@Model.username</dd>
                    <dt>Email:</dt>
                    <dd>@Model.mail</dd>
                    <dt>Birthday:</dt>
                    <dd>@Model.birthday.Date</dd>
                </dl>
            </div>
            <div id="EventsMade" class="collapse">
                <div class="container-fluid">
                    <h2>Log Book - Events Made:</h2>
                    <p>You find here underneath all your history of Events organised by you. Click on the Event name to display the event page.</p>
                    @if (ViewBag.EventsMade == null)
                    {
                        <p> No events history to display. Sorry you have no life.</p>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Eventname</th>
                                    <th>Date</th>
                                    <th>Participants</th>
                                    <th>Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Event e in ViewBag.EventsMade)
                                {
                                    <tr class="warning">
                                        <td>@Html.ActionLink(e.EventName, "Register", "Account") </td>
                                        <td>@e.EventEndDate</td>
                                        <td>@e.EventParticipants </td>
                                        <th>@e.EventLocation</th>
                                    </tr>
                                }
                            </tbody>
                        </table>}
                </div>
            </div>
            <div id="EventsChecks" class="collapse">
                <div class="container-fluid">
                    <h2>Log Book - Your Check Ins:</h2>
                    <p>You find here underneath all your history of Events you participated to. Click on the Event name to display the event page.</p>
                    @if (ViewBag.EventsParticipated == null)
                    {
                        <p> No events history to display. Sorry you have no life.</p>
                    }
                    else
                    {

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Eventname</th>
                                    <th>Date</th>
                                    <th>Participants</th>
                                    <th>Location</th>
                                </tr>
                            </thead>
                            <tbody>
                               @foreach (Event e in ViewBag.EventsParticipated)
                                {
                                    <tr class="warning">EventEndDate EventLocation
                                        <td>@Html.ActionLink(e.EventName, "Register", "Account") </td>
                                        <td>@e.EventEndDate </td>
                                        <td>@e.EventParticipants </td>
                                        <td>@e.EventLocation</td>
                                    </tr>}
                            </tbody>
                        </table>}
                </div>
            </div>
        </div>
  </div>
</body>
</html>
