@model WebApplication1.Models.EventViewModel
@using CloudinaryDotNet;
@{
    ViewBag.Title = "View Event";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewEvent</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Styles.Render("~/Content/bootstrapcss")    }
</head>
<body>
    @*<div class="card" style="width:80%; left:10%; right:10%; margin-top:50px">
        <div class="row">
            <div class="center">
                <div class="col-lg-9 center-block">
                    @Model.cloudinary.Api.UrlImgUp.Transform(
                        new Transformation()
                        .Width(Request.Browser.ScreenPixelsWidth)
                        .Height(300)
                        .Crop("fill")).BuildImageTag(Model.ev.EventPicture)
                </div>
            </div>
        </div>
        <div class="card-block text-xs-center">
            <h4 class="card-title">@Html.DisplayFor(model => model.ev.EventName)</h4>
            <h6 class="card-subtitle text-muted">tags</h6>
            <div class="card-text">
                <p>@Html.DisplayFor(model => model.ev.EventDescription)</p>
                <p>@Html.DisplayFor(model => model.ev.EventLocation)</p>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item pull-left">
                            <p>Begin Date: @Html.DisplayFor(model => model.ev.EventBeginDate)</p>
                        </li>
                        <li class="list-group-item">
                            <p>Begin Time: @Html.DisplayFor(model => model.ev.EventBeginDate.TimeOfDay)</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item pull-left clearfix">
                            <p>End Date: @Html.DisplayFor(model => model.ev.EventEndDate)</p>
                        </li>
                        <li class="list-group-item">
                            <p>End Time: @Html.DisplayFor(model => model.ev.EventEndDate.TimeOfDay)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-block text-xs-center">
            <button id="participants" class="btn-sm glyphicon glyphicon-plus" style="border-radius:50%"></button>
            <button id="intrested" class="btn-sm glyphicon glyphicon-star-empty" style="border-radius:50%"></button>
            <button id="notification" class="btn-sm glyphicon glyphicon-bell" style="border-radius:50%"></button>
            <button id="share" class="btn-sm glyphicon glyphicon-share" style="border-radius:50%"></button>
        </div>

        <div class="card-footer text-muted text-xs-center">
            @Html.ActionLink("Edit", "EditEvent", new { id = Model.ev.EventId }) |
            @Html.ActionLink("Home", "../")
        </div>
    </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
