@using CloudinaryDotNet
@using CloudinaryDotNet.Actions
@model WebApplication1.Models.EventViewModel

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail" style="height:350px; min-height:350px; max-height:350px; margin-bottom:10px">
        @Model.cloudinary.Api.UrlImgUp.Transform(
                        new Transformation()
                        .Width(320)
                        .Height(150)
                        .Crop("fill")).BuildImageTag(Model.ev.EventPicture)
        <div class="caption">
            <h4 class="pull-right">€@Html.DisplayFor(ModelItem => Model.ev.EventPrice)</h4>
            <h4>
                <a href='@string.Format("../Event/ViewEvent/{0}", Model.ev.EventId)'>@Html.DisplayFor(ModelItem => Model.ev.EventName)</a>
            </h4>
            <p style="margin-bottom:5px">@Html.DisplayFor(ModelItem => Model.ev.EventLocation)</p>
            <span>
                @Html.DisplayFor(ModelItem => Model.ev.EventBeginDate.Day)/@Html.DisplayFor(ModelItem => Model.ev.EventBeginDate.Month)/@Html.DisplayFor(ModelItem => Model.ev.EventBeginDate.Year)
            </span>
            -
            <span>
                @Html.DisplayFor(ModelItem => Model.ev.EventBeginDate.TimeOfDay)
            </span>

        </div>
        <div class="pull" style="position:absolute; bottom: 2%; width: 85%;">
            <p class="pull" style="margin:10px;">
                @foreach (var item in Model.tags)
                {
                    <button id=@string.Format("t{0}", item.TagId) style="margin-bottom:5px" type="button" class="btn btn-info btn-xs">@item.TagName</button>
                    <script>
                        $('#@string.Format("t{0}", item.TagId)').click(function () {
                            document.getElementById("name").value = "@item.TagName";
                         

                                    jQuery.ajax({
                                        type: "GET",
                                        url: "/Home/GetView",
                                        data: { id: $("#City").val(), name: $("#name").val(), start: $('#reportrange').data('daterangepicker').startDate.format('YYYY-MM-DD'), end: $('#reportrange').data('daterangepicker').endDate.format('YYYY-MM-DD') },
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (viewHTML) {
                                            $("#viewPlaceHolder").html(viewHTML);
                                        },
                                        error: function (req, status, error) {
                                            alert(req.responseText);
                                        }
                                    });
                                } 
                                
                            
                        )
                    </script>
                }
            </p>
            <p class="pull-right" style="bottom:0">Participants: @Html.DisplayFor(ModelItem => Model.ev.EventParticipants)</p>
            <p class="pull-left" style="margin:5px; margin-bottom:10px">


                <button type="button" id=@string.Format("participants{0}", Model.ev.EventId) class="btn btn-sm" style="border-radius:80%">
                    <span id=@string.Format("p{0}", Model.ev.EventId) class="glyphicon @(@Model.log.Going ? "glyphicon-ok" : "glyphicon-plus")" title="Participate" style="color:black"></span>
                </button>

                <button type="button" id=@string.Format("intrested{0}", Model.ev.EventId) class="btn btn-sm" style="border-radius:80%">
                    <span id=@string.Format("i{0}", Model.ev.EventId) class="glyphicon @(@Model.log.Interested ? "glyphicon-star" : "glyphicon-star-empty") " title="Intrested" style="color:black"></span>
                </button>

                <button type="button" id=@string.Format("notification{0}", Model.ev.EventId) class="btn btn-sm" style="border-radius:80%">
                    <span id=@string.Format("n{0}", Model.ev.EventId) class="glyphicon glyphicon-bell" title="Notification" style="color:black"></span>
                </button>



                <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));

                    $(function () {
                        $('#@string.Format("participants{0}", Model.ev.EventId)').click(function () {

                            var p = '#@string.Format("p{0}", Model.ev.EventId)'
                            if ($(p).hasClass('glyphicon-plus')) {
                                $(p).removeClass('glyphicon-plus')
                                $(p).addClass('glyphicon-ok')
                                $('#@string.Format("participants{0}", Model.ev.EventId)').html('<span id=@string.Format("p{0}", Model.ev.EventId) class="glyphicon glyphicon-ok" style="color:#3b5998"></span>');
                            }
                            else {
                                $(p).removeClass('glyphicon-ok')
                                $(p).addClass('glyphicon-plus')
                                $('#@string.Format("participants{0}", Model.ev.EventId)').html('<span id=@string.Format("p{0}", Model.ev.EventId) class="glyphicon glyphicon-plus" style="color:black"></span>');
                            }

                            jQuery.ajax({
                                url: "/Account/participate",
                                data: { id: @Model.ev.EventId },
                                success: function(viewHTML) {
                                }
                            });
                        });
                        $('#@string.Format("intrested{0}", Model.ev.EventId)').click(function () {
                            var i = '#@string.Format("i{0}", Model.ev.EventId)'
                            if ($(i).hasClass('glyphicon-star-empty')) {
                                $(i).removeClass('glyphicon-star-empty')
                                $(i).addClass('glyphicon-star')
                                $('#@string.Format("intrested{0}", Model.ev.EventId)').html('<span id=@string.Format("i{0}", Model.ev.EventId) class="glyphicon glyphicon-star" style="color:#3b5998"></span>');
                            }
                            else {
                                $(i).removeClass('glyphicon-star')
                                $(i).addClass('glyphicon-star-empty')
                                $('#@string.Format("intrested{0}", Model.ev.EventId)').html('<span id=@string.Format("i{0}", Model.ev.EventId) class="glyphicon glyphicon-star-empty" style="color:black"></span>');
                            }
                            jQuery.ajax({
                                url: "/Account/interested",
                                data: { id: @Model.ev.EventId },
                                success: function(viewHTML) {
                                }
                            });
                        });
                       
                        @* $('#@string.Format("notification{0}", Model.ev.EventId)').click(function () {
                            if ($('#@string.Format("notification{0}", Model.ev.EventId)').css("color") == black) {
                                $('#@string.Format("notification{0}", Model.ev.EventId)').html('<span class="glyphicon glyphicon-bell" style="color:#3b5998"></span>');
                            }
                            else {
                                $('#@string.Format("notification{0}", Model.ev.EventId)').html('<span class="glyphicon glyphicon-bell" style="color:black"></span>');
                            }
                        });*@
                    });
                </script>
            </p>
        </div>
    </div>
</div>
