@using WebApplication1.Models
@using CloudinaryDotNet
@using CloudinaryDotNet.Actions
@model WebApplication1.Models.EventViewModel
@{
}
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewEvent</title>
</head>
<body>
    <div>
        <h4 style="margin-top:100px;">Events</h4>
        <hr />

        <div class="container" style="padding-right:50px;">

            <div class="row">
                @foreach (var item in Model.events.OrderBy(item => item.EventBeginTime).OrderBy(item => item.EventBeginDate))
            {

                    <div class="col-sm-4 col-lg-4 col-md-4" style="height:350px">
                        <div class="thumbnail">
                            @Model.cloudinary.Api.UrlImgUp.Transform(
                                        new Transformation()
                                            .Width(320)
                                            .Height(150)
                                            .Crop("fill")).BuildImageTag(item.EventPicture)
                            <div class="caption">
                                <h4 class="pull-right">€@Html.DisplayFor(ModelItem => item.EventPrice)</h4>
                                <h4>
                                    <a href="#">@Html.DisplayFor(ModelItem => item.EventName)</a>
                                </h4>
                                <p>@Html.DisplayFor(ModelItem => item.EventDescription)</p>
                                <span>@Html.DisplayFor(ModelItem => item.EventBeginDate.Value.Date)</span>
                                -
                                <span>@Html.DisplayFor(ModelItem => item.EventBeginTime.Value.TimeOfDay)</span>
                                <p>@Html.DisplayFor(ModelItem => item.EventLocation)</p>
                            </div>
                            <div class="interactio">
                                <p class="pull-right">Participants: @Html.DisplayFor(ModelItem => item.EventParticipants)</p>
                                <p>
                                    <span class="glyphicon glyphicon-plus" title="Participate"></span>
                                    <span class="glyphicon glyphicon-star" title="Intrested"></span>
                                    <span class="glyphicon glyphicon-share" title="Share"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
